ACTIONS_GIT_PATH='/opt/odoo/github_actions'
REPOSITORY_BRANCH='17.0'
ODOO_DB_DOCKER='PRO'
ODOO_DB_DOCKER_PORT='5432'
ODOO_PRO_DB='PRO'
ODOO_PRO_DB_PORT='5432'
ODOO_PRO_PATH_ADDONS_CUSTOM='/opt/odoo/odoo170/src/addons-custom'
ODOO_PRO_PATH_ATTACHMENTS='/opt/odoo/odoo170/attachments'
ODOO_PRO_PATH_CONFIG='/opt/odoo/odoo170/conf/odoo170.conf'
ODOO_PRO_PATH_ODOO_BIN='/opt/odoo/odoo170/src/core/odoo-bin'
ODOO_PRO_PATH_PYTHON='/opt/odoo/odoo170/venv/bin/python3.10'
ODOO_PRO_PATH_SRC='/opt/odoo/odoo170/src'
ODOO_PRO_SERVICE='odoo170'
ODOO_PRO_VERSION='17'
ODOO_STA_DB='DEV'
ODOO_STA_DB_PORT='5433'
ODOO_STA_PATH_ADDONS_CUSTOM='/opt/odoo/odoo170dev/src/addons-custom'
ODOO_STA_PATH_ATTACHMENTS='/opt/odoo/odoo170dev/attachments'
ODOO_STA_PATH_CONFIG='/opt/odoo/odoo170dev/conf/odoo170dev.conf'
ODOO_STA_PATH_ODOO_BIN='/opt/odoo/odoo170dev/src/core/odoo-bin'
ODOO_STA_PATH_PYTHON='/opt/odoo/odoo170dev/venv/bin/python3.10'
ODOO_STA_PATH_SRC='/opt/odoo/odoo170dev/src'
ODOO_STA_SERVICE='odoo170dev'
ODOO_STA_VERSION='17'
